/* for small screens */

@media only screen and ( max-width: 425px ) {
    body {
        margin : 0px;
        border : 0px;
        padding : 0px;
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color : white;
        font-family : Arial, Helvetica, sans-serif;
    }

    /* TITLE PAGE */

    .titlePage {
        margin : 0px;
        padding : 3em;
        border: 0px;
        display : flex;
        width: 425px;
        flex-direction: column;
        background-color: rgb(61, 194, 236);
    }

    .name {
        width: 400px;
        font-size: 25px;
        justify-content: center;
    }
    .profileImage {
        margin : 0px;
        border : 0px;
        border-radius: 20px;
        padding : 0px;
        width : 410px;
        height : 510px;
        flex-basis: 400px;
    }

    /* EDUCATONS AND SKILLS */

    .education_skills {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 425px;
        height: 600px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: stretch;
        background-color: rgb(25, 25, 104);
    }

    .education {
        width: 420px;
        font-size:22px;
    }

    .skills {
        width: 420px;
        font-size: 22px;
    }

    /* PROJECT PAGE */

    .projectPage {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 425px;
        height: 100%;
        background-color: blue;
    }

    .projectPage > h3 { font-size: 2em; }
    .projectPage > p { font-size: 1.5em; }

    .projectImage1 {
        width: 250px;
        height: 200px;
    }

    .projectImage2 {
        width: 260px;
        height: 200px;
    }


    /* ABOUT ME AND CONTACT ME */

    .aboutAndContact {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 425px;
        display: flex;
        flex-direction: column;
        background-color: rgba(68, 159, 251, 0.994);
    }

    .about { font-size: 25px; }
    .contact { font-size: 25px; }

    /* FOOTER */

    footer {
        width: 520px;
        background-color: rgba(68, 159, 251, 0.994);
        text-align: center;
    }

    footer p {
        background-color: blue;
        border-radius: 45px;
    }
}


/* for medium screens */

@media ( min-width : 425px ) and ( max-width : 768px) {
    body {
        margin : 0px;
        border : 0px;
        padding : 0px;
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color : white;
        font-family : Arial, Helvetica, sans-serif;
    }

    /* TITLE PAGE */

    .titlePage {
        margin : 0px;
        padding : 3em;
        border: 0px;
        display : flex;
        width: 768px;
        flex-direction: column;
        background-color: rgb(61, 194, 236);
    }

    .name {
        width: 720px;
        font-size: 25px;
        justify-content: center;
    }
    .profileImage {
        margin-left : 80px;
        border : 0px;
        border-radius: 25px;
        padding : 0px;
        width : 600px;
        height : 710px;
        flex-basis: 400px;
    }

    /* EDUCATONS AND SKILLS */

    .education_skills {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 768px;
        height: 600px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: stretch;
        background-color: rgb(25, 25, 104);
    }

    .education {
        width: 750px;
        font-size:22px;
    }

    .skills {
        width: 750px;
        font-size: 22px;
    }

    /* PROJECT PAGE */

    .projectPage {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 768px;
        height: 100%;
        background-color: blue;
    }

    .projectPage > h3 { font-size: 2em; }
    .projectPage > p { font-size: 1.5em; }

    .projectImage1 {
        width: 420px;
        height: 360px;
        padding-left: 150px;
    }

    .projectImage2 {
        width: 400px;
        height: 340px;
        margin-left: 150px;
        border-radius: 20px;
    }


    /* ABOUT ME AND CONTACT ME */

    .aboutAndContact {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 768px;
        display: flex;
        flex-direction: column;
        background-color: rgba(68, 159, 251, 0.994);
    }

    .about h3,
    .contact h3 { font-size: 40px}
    .about p,
    .contact p { font-size: 20px; }

    /* FOOTER */

    footer {
        width: 862px;
        background-color: rgba(68, 159, 251, 0.994);
        text-align: center;
    }

    footer p {
        background-color: blue;
        border-radius: 45px;
    }
}


/* for large screens */

@media ( min-width : 768px ) and ( max-width: 1200px ) {
    body {
        margin : 0px;
        border : 0px;
        padding : 0px;
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        color : white;
        font-family : Arial, Helvetica, sans-serif;
    }

    /* TITLE PAGE */

    .titlePage {
        margin : 0px;
        padding : 3em;
        border: 0px;
        display : flex;
        width: 1200px;
        flex-direction: column;
        background-color: rgb(61, 194, 236);
    }

    .name {
        padding-left: 50px; 
        width: 720px;
        font-size: 40px;
        justify-content: center;
    }
    .profileImage {
        margin-left : 130px;
        border : 0px;
        border-radius: 25px;
        padding : 0px; 
        width : 600px;
        height : 710px;
    }

    /* EDUCATONS AND SKILLS */

    .education_skills {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 1200px;
        height: 800px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: stretch;
        background-color: rgb(25, 25, 104);
    }

    .education {
        padding-left: 50px; 
        width: 750px;
        font-size:30px;
    }

    .skills {
        padding-left: 50px; 
        width: 750px;
        font-size: 30px;
    }

    /* PROJECT PAGE */

    .projectPage {
        margin: 0px;
        border: 0px;
        padding: 3em;
        display: grid;
        grid-template-columns: 450px 400px;
        grid-template-rows: 120px 300px 120px 300px; 
        width: 1200px;
        height: 100%;
        background-color: blue;
    }

    .head1 {
        padding-left: 50px; 
        grid-column: 1; 
        font-size: 35px;
        grid-row: 1; 
    }

    .para1 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 2; 
        font-size: 25px;
    }
    .head2 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 3; 
        font-size: 35px;
    }
    .para2 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 4; 
        font-size: 25px;
    }

    .projectImage1 {
        width: 420px;
        height: 360px;
        padding-left: 150px;
        grid-column: 2;
        grid-row: 1;
    }

    .projectImage2 {
        width: 400px;
        height: 340px;
        margin-left: 150px;
        border-radius: 20px;
        grid-column: 2;
        grid-row: 3;

    }


    /* ABOUT ME AND CONTACT ME */

    .aboutAndContact {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 1200px;
        display: flex;
        flex-direction: column;
        background-color: rgba(68, 159, 251, 0.994);
    }

    .about h3,
    .contact h3 {
        padding-left: 50px; 
        font-size: 50px
    }
    .about p,
    .contact p { 
        padding-left: 50px;
        font-size: 25px; }

    /* FOOTER */

    footer {
        width: 1296px;
        background-color: rgba(68, 159, 251, 0.994);
        text-align: center;
    }

    footer p {
        background-color: blue;
        border-radius: 45px;
    }
}


/* for larger screens */

@media ( min-width : 1200px ) {
    body {
        margin : 0px;
        border : 0px;
        padding : 0px;
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color : white;
        font-family : Arial, Helvetica, sans-serif;
    }

    /* TITLE PAGE */

    .titlePage {
        margin: 0px;
        padding: 3em;
        border: 0px;
        display : flex;
        width: 1590px;
        flex-direction: column;
        background-color: rgb(61, 194, 236);
    }

    .name {
        padding-left: 100px;
        width: 720px;
        font-size: 25px;
        justify-content: center;
    }
    .profileImage {
        margin-left : 150px;
        border : 0px;
        border-radius: 25px;
        padding-left: 0px;
        width : 600px;
        height : 710px;
        flex-basis: 400px;
    }

    /* EDUCATONS AND SKILLS */

    .education_skills {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 1590px;
        height: 600px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: stretch;
        background-color: rgb(25, 25, 104);
    }

    .education {
        padding-left: 100px;
        width: 750px;
        font-size:22px;
    }

    .skills {
        padding-left: 100px;
        width: 750px;
        font-size: 22px;
    }

    /* PROJECT PAGE */

    .projectPage {
        margin: 0px;
        border: 0px;
        padding-left: 96px;
        padding-top: 100px;
        width: 1590px;
        height: 100%;
        display: grid;
        grid-template-columns: 450px 400px;
        grid-template-rows: 120px 300px 120px 300px; 
        background-color: blue;
    }

    .head1 {
        padding-left: 50px; 
        grid-column: 1; 
        font-size: 35px;
        grid-row: 1; 
    }

    .para1 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 2; 
        font-size: 25px;
    }
    .head2 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 3; 
        font-size: 35px;
    }
    .para2 {
        padding-left: 50px; 
        grid-column: 1;
        grid-row: 4; 
        font-size: 25px;
    }

    .projectImage1 {
        width: 420px;
        height: 360px;
        padding-left: 150px;
        grid-column: 2;
        grid-row: 1;
    }

    .projectImage2 {
        width: 400px;
        height: 340px;
        margin-left: 150px;
        border-radius: 20px;
        grid-column: 2;
        grid-row: 3;

    }




    /* ABOUT ME AND CONTACT ME */

    .aboutAndContact {
        margin: 0px;
        border: 0px;
        padding: 3em;
        width: 1590px;
        display: flex;
        flex-direction: column;
        background-color: rgba(68, 159, 251, 0.994);
    }

    .about h3,
    .contact h3 { 
        padding-left: 96px;
        font-size: 40px
    }
    .about p,
    .contact p {
        padding-left: 96px;
        font-size: 20px; }

    /* FOOTER */

    footer{
        margin: 0px;
        border: none;
        align-self: stretch;
        background-color: rgba(68, 159, 251, 0.994);
        text-align: center;

    }

    footer p {
        background-color: blue;
        border-radius: 40px;
    }
}




